.dd2 {
	/*display:inline-block !important;*/
	text-align:right;
	direction: rtl;
	background-color:#fff;
	font-size:18px;
	float:right;
}
.dd2 .ddTitle {
	background:transparent url(../image/msdropdown/msDropDown.png) no-repeat;
	padding:0 4px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:36px;
}
.dd2 .ddTitle span.arrow {
	background:transparent url(../image/msdropdown/icon-arrow.gif) no-repeat 0 0; float:left; display:inline-block;width:27px; height:27px; cursor:pointer; top:5px; position:relative; left:2px;
}

.dd2 .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden; line-height:33px; font-size:20px; font-weight:bold; color:#fff; _position:relative; _top:4px}
.dd2 .ddTitle span.ddTitleText img{text-align:right; padding:0 0 0 2px;}
.dd2 .ddTitle img.selected {
	padding:0 2px 0 0;
	vertical-align:top;
}
.dd2 .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	font-size:18px;
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited {padding-left:10px}
.dd2 .ddChild a {
	display:block;
	padding:3px 0 3px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
}
.dd2 .ddChild a:hover {
	background-color:#66CCFF;
}
.dd2 .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd2 .ddChild a.selected {
	background-color:#66CCFF;	
}

.dd2 .borderTop{border-top:1px solid #c3c3c3  !important;}
.dd2 .noBorderTop{border-top:none 0  !important}

/************* use sprite *****************/
.dd .ddChild a.sprite, .dd .ddChild a.sprite:visited {
	background-image:url(../icons/sprite.gif);
	background-repeat:no-repeat;
	padding-left:24px;
}

.dd .ddChild a.calendar, .dd .ddChild a.calendar:visited {
	background-position:0 -404px;
}
.dd .ddChild a.shoppingcart, .dd .ddChild a.shoppingcart:visited {
	background-position:0 -330px;
}
.dd .ddChild a.cd, .dd .ddChild a.cd:visited {
	background-position:0 -439px;
}
.dd .ddChild a.email, .dd .ddChild a.email:visited {
	background-position:0 -256px;
}
.dd .ddChild a.faq, .dd .ddChild a.faq:visited {
	background-position:0 -183px;
}
.dd .ddChild a.games,
.dd .ddChild a.games:visited {
	background-position:0 -365px;
}
.dd .ddChild a.music, .dd .ddChild a.music:visited {
	background-position:0 -146px;
}
.dd .ddChild a.phone, .dd .ddChild a.phone:visited {
	background-position:0 -109px;
}
.dd .ddChild a.graph, .dd .ddChild a.graph:visited {
	background-position:0 -73px;
}
.dd .ddChild a.secured, .dd .ddChild a.secured:visited {
	background-position:0 -37px;
}
.dd .ddChild a.video, .dd .ddChild a.video:visited {
	background-position:0 0;
}
/*******************************/
