@font-face {
font-family:"websaz";
src: url( "../font/websaz.eot" );
src: local( "?" ),
url( "../font/websaz.woff" )
format( "woff" ),
url( "../font/websaz.ttf" )
format( "truetype" );
}
* {
    padding: 0;
    margin: 0;
} 
body {
 background: #eee;
 font-family: websaz, Tahoma;
 font-size: 15px;
 color: #333333;
 line-height: 24px;
 text-align: right;
 direction: rtl;
 text-shadow: 1px 1px 1px #CCCCCC;
}
a {
 text-decoration: none;
 color:#0171AF;
}
#wrap {
 width: 800px;
 margin: 40px auto;
}
#header {
 height: 85px;
 background: #eee url(../image/header.gif) no-repeat;
}
#header h1 {
 font-size: 34px;
 font-weight: 100;
 letter-spacing: -3px;
 padding: 30px 30px 0 0;
}
#header h1 a {
 text-decoration: none;
 color: #EC8714;
}
#header h1 a:hover {
 text-decoration: none;
 color: #000;
}
#header h2 {
 color: #89A537;
 font-size: 20px;
 font-weight: 100;
 padding: 0 31px 0 0;
}

#menu {
 background: #eee url(../image/content.gif) repeat-y;
 height: 35px;
 padding: 5px 0;
}
#menu ul {
 list-style-type: none;
 padding: 0 35px 0 0;
}
#menu ul li {
 float:right;
 padding: 5px;
}
#menu ul li a {
 color: #F1F1F1;
 font-size: 20px;
 font-weight: 600;
 letter-spacing: -1px;
 padding: 1px 20px;
 background: #333333;
 border-radius: 3px;
}
#menu ul li a:hover {
 color: #99997E;
}
#content {
 background: #eee url(../image/content.gif) repeat-y;
 padding: 1px 20px 20px;
}
#content .right-div {
 float: right;
 height: auto;
 position: relative;
 padding: 10px;
 width: 45%;
}
#content .left-div {
 float: left;
 height: auto;
 padding: 10px;
 width: 49%;
}
#content h2 {
    border-bottom: 1px dotted #CCCCCC;
    font-size: 18px;
    margin: 0 10px 10px;
    padding: 0 18px 7px 0;
    text-shadow: 2px 2px 1px #CCCCCC;
}
#content .box {
 padding: 10px 5px;
 border: 1px solid #C3C3C3;
}
#content .marg {
 margin: 15px 0;
}
#content ul {
 list-style-type: none;
}
#content .form {
 font-family: websaz;
 font-size: 14px;
 padding: 1px;
 border: 1px solid #C3C3C3;
}
#content label.left {
    float: right;
    margin: 0 0 0 5px;
    padding: 2px;
    width: 78px;
}
#content table{
 background: #F4F2F2;
 border-collapse: collapse;
 border-spacing: 0;
}
#content tr {
 border: 4px solid #FFFFFF;
}
#content td {
 padding: 1px 3px;
}
#content .banks {
    list-style: none outside none;
    margin: 1px;
    padding: 0 15px;
    width: 320px;
}
#content .banks li {
    float: right;
    margin: 3px;
    padding: 1px;
    height: 29px;
    width: 29px;
    border: 1px solid #C3C3C3;
    background-image: url("../image/banks.png");
}
#content .banks li:hover {
	border: 1px solid #000;
}
#content .info {
	padding: 10px 5px;
}
#bottom {
 background: #eee url(../image/bottom.gif) no-repeat;
 padding: 10px 0;
}
#footer {
 font-size: 11px;
 color: #999;
 text-align: center;
}


.error
{
	font-size: 14px;
	font-weight: bold;
	background-color: #fe2e2e;
	color: white;
}



.button
{
        display: inline-block;
        white-space: nowrap;
        background-color: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-image: linear-gradient(top, #eee, #ccc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
        border: 1px solid #777;
        padding: 0 1.5em;
        margin: 0.5em;
        font: bold 1em/2em;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover
{
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        background-image: linear-gradient(top, #fafafa, #ddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button:active
{
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
}

.button:focus
{
        outline: 0;
        background: #fafafa;
}    

.button:before
{
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -moz-border-radius: .15em 0 0 .15em;
        -webkit-border-radius: .15em 0 0 .15em;
        border-radius: .15em 0 0 .15em;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cards {
 margin-left:auto;
 margin-right:auto;
 width: 80%;
}

.cards td.top {
 background: #CCCCCC;
 text-align: center;
 font-size: 18px;
 font-weight: bold;
}
.cards td {
 background: #EDEAEA;
 font-size: 16px;
}
